{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ store_title }}</title>
    {% block style %}
      {% block bootstrap %}
      <!-- Bootstrap Core CSS -->
      <link rel="stylesheet" type="text/css" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}"/>
      <!-- Custom CSS -->
      <link rel="stylesheet" type="text/css" href="{% static "css/shop-homepage.css" %}"/>
      {% endblock %}
    {% endblock %}
  {% endblock %}
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{ store_title }} Bookstore</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_active %}
          <li>
              <p class="navbar-text">Welcome, {{ user.username }}</p>

          <li>
              <a href="/accounts/settings/">Settings</a>
          </li>
          {% else %}
          <li>
            <a href="/accounts/register/">Sign Up</a>
          </li>
            {% endif %}
          <li>
            {% if user.is_active %}
              <a href="/accounts/logout/" class="btn btn-primary">Logout</a>
            {% else %}
              <a href="/accounts/login/" class="btn btn-primary">Login</a>
            {% endif %}
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- /Navigation -->

  <!-- Main Wrapper -->

  <div class="container-fluid" id="main-wrapper">

    {% block content %}
    <div class="row">

      <div class="col-md-3 text-center">
          <div class="row-fluid">
            {% if empty_search %}
              <p style="color: red;">Your search was empty!</p>
            {% endif %}
            <h4 class="lead">Search For Products</h4>
            <form action="/search/" method="get">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" type="text" name="q" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit" value="Search">Go</button>
                  </span>
                </div>
              </div>
            </form>
          </div>
          <div class="row-fluid">
            <h4 class="lead">Our Catalog</p>
            <div class="list-group">
              <a href="/products/" class="list-group-item">Products</a>
              <a href="/suppliers/" class="list-group-item">Suppliers</a>
              <a href="/accounts/" class="list-group-item">Users</a>
            </div>
          </div>
          <div class="row-fluid">
          {% if user.is_active %}
            <a class="btn btn-primary" href="/orders/">Create New Order</a>
          {% else %}
            <a class="btn btn-primary" href="/accounts/login/">Sign In To Order</a>
          {% endif %}
          </div>
        </div>
      <div class="col-md-9">
        {% block catalog %}

        <div class="row carousel-holder">

          <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <img class="slide-image" src="{% static "img/CPhoto1.jpg" %}" alt="">
                </div>
                <div class="item">
                  <img class="slide-image" src="{% static "img/CPhoto2.jpg" %}" alt="">
                </div>
                <div class="item">
                  <img class="slide-image" src="{% static "img/CPhoto3.jpg" %}" alt="">
                </div>
              </div>
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
              <img src="http://placehold.it/320x150" alt="">
              <div class="caption">
                <h4 class="pull-right">$24.99</h4>
                <h4><a href="#">First Product</a>
                </h4>
                <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
              </div>
              <div class="ratings">
                <p class="pull-right">15 reviews</p>
                <p>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
              <img src="http://placehold.it/320x150" alt="">
              <div class="caption">
                <h4 class="pull-right">$64.99</h4>
                <h4><a href="#">Second Product</a>
                </h4>
                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <div class="ratings">
                <p class="pull-right">12 reviews</p>
                <p>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star-empty"></span>
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
              <img src="http://placehold.it/320x150" alt="">
              <div class="caption">
                <h4 class="pull-right">$74.99</h4>
                <h4><a href="#">Third Product</a>
                </h4>
                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <div class="ratings">
                <p class="pull-right">31 reviews</p>
                <p>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star-empty"></span>
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
              <img src="http://placehold.it/320x150" alt="">
              <div class="caption">
                <h4 class="pull-right">$84.99</h4>
                <h4><a href="#">Fourth Product</a>
                </h4>
                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <div class="ratings">
                <p class="pull-right">6 reviews</p>
                <p>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star-empty"></span>
                  <span class="glyphicon glyphicon-star-empty"></span>
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
              <img src="http://placehold.it/320x150" alt="">
              <div class="caption">
                <h4 class="pull-right">$94.99</h4>
                <h4><a href="#">Fifth Product</a>
                </h4>
                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <div class="ratings">
                <p class="pull-right">18 reviews</p>
                <p>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star-empty"></span>
                </p>
              </div>
            </div>
          </div>


        </div>
          {% endblock %}
      </div>

    </div>
  {% endblock %}
    <div class="push"></div>
  </div>

  <!-- /.Main Wrapper-->

  <!-- Footer -->

  <div class="container" id="footer">
    <hr>

    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright &copy; {{ store_title }}, LLC 2015</p>
        </div>
      </div>
    </footer>
  </div>

  <!-- /Footer -->

  {% block script %}
  <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
  <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/shop-homepage.js" %}"></script>
  {% endblock %}
</body>

</html>
