{% extends "store/base.html" %}

{% block catalog %}
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">
        Order Another Product
      </h1>
		<form action="/order/more/{{ order_id }}/" method="post">{% csrf_token %}
 		 {{ form }}
		<input type="submit" value="Make Order" />
		</form>
    </div>
  </div>
    <div class="row">
      <a class="btn btn-success" href="/orders/checkout/{{ order_id }}/">
      <h1 class="text-center">
        Checkout Your Order
      </h1></a>
    </div>
{% endblock %}
