{% extends "store/base.html" %}


{% block catalog %}
  {% if products|length > 0 %}
    <div class="row">

      <div class="col-xs-12">
        <h1 class="text-center">List of Our Products</h1>
      </div>
    </div>
    {% for product in products %}
      {{ product.product_name }}
      <!--{% url 'edit_product' product_id=product.pk as the_url %} -->
      <a href="/products/edit/{{ product.pk }}/">Edit</a>
    {% endfor %}
  {% else %}
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">No Products Available</h1>
    </div>
  </div>
  {% endif %}
{% endblock %}
