{% extends "store/search_results.html" %}

{% block search_header %}
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center">List of Our Products</h1>
      </div>
    </div>
    {% if user.is_staff %}
    <div class="row">
      <div class="col-xs-12 text-center">
        <a class="btn btn-primary margin-bottom" href="/products/add/">Staff - Create New Product</a>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-3">
    	<div class="btn-group" role="group" aria-label="Filters">
    			<a class="btn btn-default" href="/products/">Reset Filter</a>
    			<a class="btn btn-default" href="/products/1/">By Name</a>
    			<a class="btn btn-default" href="/products/2/">By Most Expensive</a>
    			<a class="btn btn-default" href="/products/3/">By Least Expensive</a>
    	</div>
    </div>
    {% endif %}
{% endblock %}
