{% extends "store/base.html" %}

{% block content %}

<div class="row center-divider">
  <div class="col-xs-4 col-xs-offset-4">
  	{% if new %}
    <h4 class="text-center text-primary">Create A User</h4>
  	{% else %}
    <h4 class="text-center text-primary">Sign Up For An Account</h4>
  	{% endif %}
    <div class="panel panel-default">
      <div class="panel-body">
        <form action="/accounts/register/" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="registerUsername">Username:</label>
            <span class="pull-right">{{ form.username }}</span>
          </div>
          <div class="form-group">
            <label for="registerEmail">Email:</label>
            <span class="pull-right">{{ form.email }}</span>
          </div>
          <div class="clearfix"></div>
          <div class="form-group">
            <label for="registerPassword1">Password:</label>
            <span class="pull-right">{{ form.password1 }}</span>
          </div>
          <div class="form-group">
            <label for="registerPassword2">Confirm Password:</label>
            <span class="pull-right">{{ form.password2 }}</span>
          </div>
          <div class="form-group">
            <label for="registerAddress">Address:</label>
            <span class="pull-right">{{ user_info.address }}</span>
          </div>
          <div class="checkbox text-center">
            <label>
                {{ form.is_staff }}
  			{% if new %}
  		  Set As Staff Member
  			{% else %}
              Are You A Member Of Our Staff?
    		{% endif %}
            </label>
          </div>
  		{% if new %}
          <button class="btn btn-primary btn-block" type="submit" value="Create">Create</button>
  		{% else %}
          <button class="btn btn-primary btn-block" type="submit" value="Register">Register</button>
  		{% endif %}
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
