{% extends "store/base.html" %}


{% block catalog %}
  {% if users|length > 0 %}
    <div class="row">

      <div class="col-xs-12">
        <h1 class="text-center">List of Our Users</h1>
      </div>
    </div>
    {% for current_user in users %}
    <ul>
      <li>{{ current_user.username }}</li>
      <li>{{ current_user.email }}</li>
      <li>{{ current_user.storeuser.address }}</li>
      <li>Staff? {{ current_user.is_staff }}</li>
      {% if user.is_staff %}
      <li><a href="/accounts/edit/{{ current_user.id }}/">Edit</a></li>
      {% endif %}
    </ul>
    {% endfor %}
  {% else %}
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">No Users Available</h1>
    </div>
  </div>
  {% endif %}      
  {% if user.is_staff %}
    <li><a href="/accounts/new/">Create New User</a></li>
  {% endif %}
{% endblock %}
